@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda');

body, html {
    height: 100%;
}

.jumbotron {
    padding: 1rem;
    padding-bottom: 75px;
    background-color: #0B5DAD;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#titletext {
    font-family: "Cherry Cream Soda", Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 5rem;
}

#profilepic {
    border-radius: 100%;
    z-index: 2;
    position: fixed;
    left: 50%;
    display: block;
    margin: auto;
    margin-left: -75px;
    width: 150px;
    height: auto;
}

.row {
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 171px;
    background-color: rgba(135, 206, 235, 0.2);
    height: 100%;
    width: 25%;
}

.middiv {
    width: 100%;
    margin-top: 171px;
    width: 50%;
    left: 25%;
    height: 100% !important;
}

ul {
    list-style-image: url('ulptr.png');
}

.sidebar > * {
    margin-top: 10px;
}

.logos {
    display: block;
}